APPWRITE_ENDPOINT=https://tor.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a1ddc28001802029c80
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=tim_cpg_insights
APPWRITE_SCORECARD_TABLE_ID=scorecard_rows
APPWRITE_IMPORT_RUNS_TABLE_ID=import_runs
APPWRITE_IMPORT_METADATA_TABLE_ID=import_metadata
